*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    color:#364c5a;
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}
header{
    background: url(ancipando_portada5.jpeg);
    height: 600;  
    background-size: cover;
    background-repeat: no-repeat;
    }

section{
    max-width: 1000px;
    margin: auto;
    padding: 30 px 0;
    text-align: center;
    font-size: 30px;
       }
section h1{
    font-size: 80px;
    font-weight: bold;
}
section p{
    font-size: 30px;
    font-weight: bold;
    margin: 1em 0;
}

.contenido{
    text-align: center;
    margin: 5em 0;
}

.contenido a{
    color: white;
    text-decoration: none;
    background: #364c5a;
    padding: 4px 20px;
    border-radius: 50px;
    font-size: 30px;
    margin: 10px;
    }


.contenido2 img{
    width: 520px;
    height: 380px;
      display: block;
  margin: auto;
}